<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
    <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view">
          <!-- If this wasn't a 1-pager, I'd make this a markdown+liquid thing -->
          <a class="mailto" href="mailto:binnes22@gmail.com">binnes22@gmail.com</a><br>
          <a href="https://baderlab.org/BrendanInnes">Me @ Baderlab.org</a><br>
          ORCID: <a href="https://orcid.org/0000-0003-2496-3154">0000-0003-2496-3154</a><br>
          Citations: [<a href="https://scholar.google.com/citations?user=zyFRoPQAAAAJ&hl=en">Google</a>|<a href="https://www.semanticscholar.org/author/Brendan-T.-Innes/50131001">Semantic</a>] Scholar<br>
          LinkedIn: <a href="www.linkedin.com/in/InnesBT">InnesBT</a><br>
          Github: <a href="{{ site.github.owner_url }}">innesbre</a><br>
        </p>
        <hr>
        <div class="bigtoc">
          <p><b>Navigation:</b></p>
          {% include toc.html html=content sanitize=true class="toc" item_class="toc%level%" h_max=2 %}
        </div>

      </header>
      <section>

      {{ content }}

      <hr>
      <p><small>
          Hosted on GitHub Pages | Theme by <a href="https://github.com/orderedlist">orderedlist</a> | TOC by <a href="https://github.com/allejo">allejo</a>
      </small></p>
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
